body {
	background-color: gray;
	margin:0;
	padding:0;
	height: 100%;
}

#wrap{
	position:relative;
	min-height: 100%;
}

h1 {
	background-color:red;
	text-align: center;
	width: 1300px;
	height: 150px;
	padding: 50px;
	margin:0; 
	margin-left: 45px;
	font-family: Arial;
	font-size: 300%;
}

#inputusuario, #inputcontrasena{
	max-width: 50%;
	min-width: 100px;
}

.roles{
	margin-left: 150px;
	max-width: 42%;
	min-width: 100px;
	margin-top: 50px;
}

.btnMenu{
	width: 100px;
	margin-left: 300px;
}

#menu{
	padding-right: 0;
	background-color: white;
	height: 650px;
	text-align: center;
}

#body{
	height: 100%;
	position:relative;
}

.parrafo1{
	text-align: center;	
	font-family: Arial;
	font-size: 27px;
	padding-top: 50px;
}

.mih2{
	text-align: center;	
	font-family: Arial;
	font-size: 40px;
	padding-top: 30px;
	font-style: italic;
	color: black;
}

.nav-pills > li > a {
    font-size: 15px;
    color: black;
}

#inputnombre, #inputapellido, #inputrut, #inputmail, #inputcontrasena,#inputcontrasenaactual,#inputcontrasenanueva,#inputrepitacontrasenanueva, #inputnombre1, #inputapellido1, #inputrut1, #RolTrabajador1{
	max-width: 50%;
	min-width: 100px;
	color: black;
}

#tab1{
	margin-left: 300px;
}

.form-group{
	margin-top: 50px;
	color: black;
}

#EstadoTrabajador{
	margin-left: -200px;
}


.roles2{
	margin-left:200px;
	max-width: 35%;
	min-width: 100px;
	margin-top: 50px;
	color: black;
}

#btn3{
	margin-top: 0px;
	margin-left: 400px;
}


#inputnombreTrab{
	max-width: 30%;
	margin-left: 200px;
	color:black;
}

#btn4{
	margin-top: 50px;
	margin-left: 200px;
}



/* COSAS AGREGADAS*/
.subtitulo{
	text-align: center;	
	font-family: Arial;
	font-size: 30px;
	padding-top: 30px;
	font-style: italic;
	color: black;
}

.tabla1{
	background-clip: white;
	max-width: 70%;
	color: black;
	margin-left: 50px;
	margin-top: 150px;
}

#inputvendedor{
	max-width: 50%;
	color: black;
}

/*COSAS AGREGADAS 2*/

.listatrabajador{
	max-width: 70%;
	margin-top: 50px;
	margin-left: 50px;
	color: black;

}

#tab2{
	margin-left: 100px;
}

.tabla2{
	background-clip: white;
	max-width: 70%;
	color: black;
	margin-left: -100px;
	margin-top: 100px;
}

#inputnuevacantidad{
	max-width: 70%;
	margin-left: 10px;
}
#nuevacantidad{
	margin-left: -100px;
}
.tabla3{
	max-width: 90%;
	margin-left: 50px;
	margin-top: 150px;
	color: black;
}
#btn6{
	margin-top: 20px;
	margin-left: 50px;
}
.tabla4{
	max-width: 70%;
	margin-left: 10px;
	margin-top: 50px;
	color: black;
}

/*COSAS AGREGADAS 3*/

#cantidad1{
	max-width: 70%;
}

/*COSAS AGREGADAS 4*/

#OC{
	margin-left: -300px;
}

.roles3{
	margin-left:100px;
	max-width: 50%;
	min-width: 100px;
	margin-top: 50px;
	color: black;

}
.mih3{
	font-family: Arial;
	font-size: 40px;
	padding-top: 30px;
	font-style: italic;
	color: black;
}