<!--MODIFICADO-->
<ul class="nav nav-pills nav-stacked">
  <li role="presentation"><a href="/HomeVende">Home Menú Vendedor</a></li>
  <li role="presentation"><a href="/vendadmiOC">Administrar Orden de Compra</a></li>
  <li role="presentation"><a href="/vendconsulOC">Consulta Orden de Compra</a></li>
  <li role="presentation"><a href="/vendgenerarOT">Generar Orden de Trabajo</a></li>
  <li role="presentation"><a href="/ModificarPerfil">Modificar Perfil</a></li>
  <li role="presentation"><a href="{% url 'vista_logout' %}">Cerrar Sesión</a></li>
</ul>