<ul class="nav nav-pills nav-stacked">
  <li role="presentation"><a href="/HomeJefe">Home Menú Jefe de Taller</a></li>
  <li role="presentation"><a href="/jefetallerasigtareas">Asignar Tareas</a></li>
  <li role="presentation"><a href="/jefetallerOF">Orden de Trabajo</a></li>
  <li role="presentation"><a href="/jefetallerproductrab">Productividad Trabajador</a></li>
  <li role="presentation"><a href="/ModificarPerfil">Modificar Perfil</a></li>
  <li role="presentation"><a href="{% url 'vista_logout' %}">Cerrar Sesión</a></li>
</ul>