<ul class="nav nav-pills nav-stacked">
  <li role="presentation"><a href="/HomeBode">Home Menú Bodeguero</a></li>
  <!--<li role="presentation"><a href="/bodeingremate">Ingreso Material</a></li>-->
  <li role="presentation"><a href="/bodeentregamate">Entrega Material</a></li>
  <li role="presentation"><a href="/bodenuevomate">Nuevo Material</a></li>
  <li role="presentation"><a href="/bodestock">Stock</a></li>
  <li role="presentation"><a href="/boderecepcionproducto">Recepcion Producto</a></li>
  <li role="presentation"><a href="/ModificarPerfil">Modificar Perfil</a></li>
  <li role="presentation"><a href="{% url 'vista_logout' %}">Cerrar Sesión</a></li>
</ul>
