{%extends "Portaflash/base.html"%}
{%block importar%}
  <link rel="stylesheet" type="text/css" href="/static/css/base.css">
{%endblock%}
{%block titulo%}
  Portaflash
{%endblock%}
{%block head%}
  <div class="row">
    <div id"logoempresa" class="col-xs-1">
      <img src="/static/img/logoempresa.png" class="logoempresa" alt=" " style="width:150px;height:150px; margin-left:15px">
    </div>
    <div class="col-xs-11">
      <h1><b>SOCIEDAD EN GESTIÓN COMERCIAL LIMITADA</b></h1>
    </div>
  </div>
{%endblock%}

{%block contenido%}
	<ul class="nav nav-pills" id="tab1">
  		<li role="presentation"> <a href="/admimaquiverestado">Ver Estado Maquinaria</a></li>
  		<li role="presentation"><a href="/admimaquimodiestado">Modificar Estado Maquinaria</a></li>
      <li role="presentation"><a href="/admimaquiingremaqui">Ingresar Maquinaria</a></li>
  	</ul>

<h2 class="mih2">Modificar Estado Maquinaria</h2>
  
  <!--<button id="btn2" onclick="fn1('btn2');">boton2</button>-->
  <form class="form-horizontal" role="form" method="POST">
  {% csrf_token %}

  <div class="form-group">
    <label for="nombre" class="col-sm-4 control-label">Maquinaria</label>
    <div class="col-sm-8">
      <select class="form-control" id="select-maquinaria" style="width:50%">
        <option value="">seleccione una maquinaria</option>
        {% for maqui in maquinarias %}
          <option value="{{maqui.id}}">{{maqui.puestoTrabajo}}</option>
        {% endfor %}
      </select>
    </div>
  </div>

<div id="llenar-form" class="">
  <!-- llenar form -->
</div>

</form>
{%endblock%}
{%block JS%}
<script type="text/javascript">
  $("#select-maquinaria").change(function(){
    $.ajax({
        data:  {"id":$(this).val()},
        url:   "{% url 'vista_modificar_maqui_get_form' %}",
        type:  'post',
        success:  function (response) {
            $("#llenar-form").html(response);
        }
    });

  });

</script>
  
{%endblock%}