{%extends "Portaflash/base.html"%}
{%block importar%}
  <link rel="stylesheet" type="text/css" href="/static/css/base.css">
{%endblock%}
{%block titulo%}
  Portaflash
{%endblock%}
{%block head%}
  <div class="row">
    <div id"logoempresa" class="col-xs-1">
      <img src="/static/img/logoempresa.png" class="logoempresa" alt=" " style="width:150px;height:150px; margin-left:15px">
    </div>
    <div class="col-xs-11">
      <h1><u><b>SOCIEDAD EN GESTIÓN COMERCIAL LIMITADA</b></u></h1>
    </div>
  </div>
{%endblock%}

{%block contenido%}
	<ul class="nav nav-pills" id="tab1">
  		<li role="presentation"><a href="/admimaquiverestado">Ver Estado Maquinaria</a></li>
  		<li role="presentation"><a href="/admimaquimodiestado">Modificar Estado Maquinaria</a></li>
      <li role="presentation"><a href="/admimaquiingremaqui">Ingresar Maquinaria</a></li>
  	</ul>

<h2 class="mih2">Ver Estado Maquinaria</h2>
  <table class="table table-bordered" style="width:70%;margin-left:120px;">
    <thead>
      <tr>
        <th>Nombre Maquinaria</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      {% for maqui in maquinarias %}
      <tr>
        <td>{{maqui.puestoTrabajo}}</td>
        <td>{{maqui.estadoMaquinaria}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{%endblock%}
{%block JS%}
  
{%endblock%}