{%extends "Portaflash/base.html"%}
{%block importar%}
  <link rel="stylesheet" type="text/css" href="/static/css/base.css">
{%endblock%}
{%block titulo%}
  Portaflash
{%endblock%}
{%block head%}
  <div class="row">
    <div id"logoempresa" class="col-xs-1">
      <img src="/static/img/logoempresa.png" class="logoempresa" alt=" " style="width:150px;height:150px; margin-left:15px">
    </div>
    <div class="col-xs-11">
      <h1><u><b>SOCIEDAD EN GESTIÓN COMERCIAL LIMITADA</b></u></h1>
    </div>
  </div>
{%endblock%}

{%block contenido%}


<h2 class="mih2">Ingresar Material Nuevo</h2>
  
  <!--<button id="btn2" onclick="fn1('btn2');">boton2</button>-->
  <form class="form-horizontal" role="form" method="POST" action="{% url 'vista_nuevo_material' %}">
  {% csrf_token %}


   <div class="form-group">
    <label for="nombre" class="col-sm-4 control-label">Nombre Material</label>
    
    <div class="col-sm-8">
      {{MaterialForm.nombreMaterial}}
      
    </div>
  </div>

  <div class="form-group">
    <label for="nombre" class="col-sm-4 control-label">Cantidad</label>
    <div class="col-sm-8">
      {{MaterialForm.cantidad}}
      
    </div>
  </div>

  <div class="form-group">
    <label for="nombre" class="col-sm-4 control-label" id="UnidadMedida">Unidad de Medida</label>
    <div class="col-sm-8">
      {{MaterialForm.unidadMedida}}
  </div>

  <div class="form-group">
    <label for="nombre" class="col-sm-4 control-label" id="TipoMaterial">Tipo de Material</label>
    <div class="col-sm-8">
      {{MaterialForm.tipoMaterial}}
  </div>

    
</div>
    <div class="col-sm-offset-3 col-sm-9">
      <button id="btn4" class="btn btn-danger btn-lg btnMenu" type='submit'>Ingresar</button>
  </div>


</form>
{%endblock%}
{%block JS%}
  
{%endblock%}