{%extends "Portaflash/base.html"%}
{%block importar%}
  <link rel="stylesheet" type="text/css" href="/static/css/base.css">
{%endblock%}
{%block titulo%}
  Portaflash
{%endblock%}
{%block head%}
  <div class="row">
    <div id"logoempresa" class="col-xs-1">
      <img src="/static/img/logoempresa.png" class="logoempresa" alt=" " style="width:150px;height:150px; margin-left:15px">
    </div>
    <div class="col-xs-11">
      <h1><b>SOCIEDAD EN GESTIÓN COMERCIAL LIMITADA</b></h1>
    </div>
  </div>
{%endblock%}

{%block contenido%}
  <h2 class="mih2"><b><u>Menú Bodeguero</u></b></h2>
  <h2 class="mih2"><b>Bienvenido</b></h2>
  <div class="parrafo1">
    <p><em> En este menú podrá registrar el ingreso y entrega de material, el ingreso de materiales nuevos, además consultar el stock de los diferentes productos y despachar los productos terminados de las ordenes de trabajo.</em></p>
    <img src="/static/img/logoproyecto.png" class="" alt=" " style="width:200px;height:200px; margin-top:50px; margin-left: 60px">
  </div>
{%endblock%}
{%block JS%}
  
{%endblock%}
