{%extends "Portaflash/base.html"%}
{%block importar%}
	<link rel="stylesheet" type="text/css" href="/static/css/base.css">
{%endblock%}
{%block titulo%}
	Portaflash
{%endblock%}
{%block head%}
	<div class="row">
		<div id"logoempresa" class="col-xs-1">
			<img src="/static/img/logoempresa.png" class="logoempresa" alt=" " style="width:150px;height:150px; margin-left:15px">
		</div>
		<div class="col-xs-11">
			<h1><u><b>SOCIEDAD EN GESTIÓN COMERCIAL LIMITADA</b></u></h1>
		</div>
	</div>
{%endblock%}
{%block menu%}
	<a href="/">Home</a>
	<a href="/iniciosesion" style="width:50px;height:50px; margin-top:100px; margin-left: 50px">Inicio de Sesion</a>
	<img src="/static/img/logoproyecto.png" class="" alt=" " style="width:300px;height:300px; margin-top:200px; margin-left: 60px">
{%endblock%}
{%block contenido%}
	<h2 class="mih2"><b>Quienes Somos</b></h2>
	<div class="parrafo1">
		<p><em> Sociedad en Gestión Comercial Limitada es una empresa chilena que presta servicios al área de portaconductores de baja y alta tensión, produciendo postes, escalerillas y bandejas entre los productos más demandados</em></p>
	</div>
{%endblock%}
{%block JS%}
	
{%endblock%}
