{%extends "Portaflash/base.html"%}
{%block importar%}
	<link rel="stylesheet" type="text/css" href="/static/css/base.css">
{%endblock%}
{%block titulo%}
	Portaflash
{%endblock%}
{%block head%}
	<img src="C:\Users\Yanira\Desktop\Portaflash\Portaflash\Portaflash\static\img\logoempresa.png" class="logoempresa" alt=" " style="width:100px;height:100px">
	<h1><u><b>SOCIEDAD EN GESTIÓN COMERCIAL LIMITADA</b></u></h1>
	
{%endblock%}
{%block menu%}
	<a href="url">Home</a>
	<a href="url1">Inicio de Sesion</a>
	<img src="C:\Users\Yanira\Desktop\Portaflash\Portaflash\Portaflash\static\img\logoproyecto.png" class="" alt=" " style="width:100px;height:100px">
{%endblock%}
{%block contenido%}
	<h2 class="mih2"><u><b>Quienes Somos</u></b></h2>
	<div class="parrafo1">
		<p><em> Sociedad en Gestión Comercial Limitada es una empresa chilena que presta servicios al área de portaconductores de baja y alta tensión, produciendo postes, escalerillas y bandejas entre los productos más demandados</em></p>
	</div>
{%endblock%}
{%block JS%}
	
{%endblock%}
