{%extends "Portaflash/base.html"%}
{%block importar%}
  <link rel="stylesheet" type="text/css" href="/static/css/base.css">
{%endblock%}
{%block titulo%}
  Portaflash
{%endblock%}
{%block head%}
  <div class="row">
    <div id"logoempresa" class="col-xs-1">
      <img src="/static/img/logoempresa.png" class="logoempresa" alt=" " style="width:150px;height:150px; margin-left:15px">
    </div>
    <div class="col-xs-11">
      <h1><b>SOCIEDAD EN GESTIÓN COMERCIAL LIMITADA</b></h1>
    </div>
  </div>
{%endblock%}

{%block contenido%}

<ul class="nav nav-pills" id="tab2">
      <li role="presentation"> <a href="/jefetallerOFactualavanOF">Actualizar Avance Orden de Fabricación</a></li>
      <li role="presentation"><a href="/jefetallerOFverestadoavanOF">Ver Estado de Avance de Orden de Fabricación</a></li>
    </ul>

  <h2 class="subtitulo">Ver Estado de Avance de Orden de Fabricación</h2>
      <form class="form-horizontal" role="form" method="POST">
  {% csrf_token %}

<div class="roles2">
  <label for="nombre" class="col-sm-4 control-label" id="EstadoTrabajador" style="width:100%">Número de Orden de Fabricación</label>

  <select class="form-control">
    <option value="asigne">Elija una Orden de Fabricación</option>
    <option value="Administrador">001</option>
    <option value="Vendedor">101</option>
    <option value="Jefe">200</option>
    <option value="Bodeguero">300</option>
    </select>
  <div class="col-sm-8">
    </div>

<div class="col-sm-offset-3 col-sm-9">
  <button id="btn6" class="btn btn-danger btn-lg btnMenu" onclick="fn5('btn5');">Ver</button>
 </div>
</div>

<div class="tabla3">           
  <table class="table table-bordered">
    <thead>
      <tr>
        <th> Tipo de Producto</th>
        <th>Especificaciones</th>
        <th>Terminación</th>
        <th>Cantidad Pedida</th>
        <th>Cantidad Terminada</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
</form>



  
{%endblock%}
{%block JS%}
  
{%endblock%}





