{%extends "Portaflash/base.html"%}
{%block importar%}
	<link rel="stylesheet" type="text/css" href="/static/css/base.css">
{%endblock%}
{%block titulo%}
	Portaflash
{%endblock%}
{%block head%}
	<div class="row">
		<div id"logoempresa" class="col-xs-1">
			<img src="/static/img/logoempresa.png" class="logoempresa" alt=" " style="width:150px;height:150px; margin-left:15px">
		</div>
		<div class="col-xs-11">
			<h1><u><b>SOCIEDAD EN GESTIÓN COMERCIAL LIMITADA</b></u></h1>
		</div>
	</div>
{%endblock%}

{%block contenido%}

	<h2 class="mih2">Inicio de Sesión</h2>
	
	<!--<button id="btn2" onclick="fn1('btn2');">boton2</button>-->
	<form class="form-horizontal" role="form" method="POST">
  {% csrf_token %}
  <div class="form-group">
    <label for="usuario" class="col-sm-2 control-label">Usuario</label>
    <div class="col-sm-10">
      <input type="usario" class="form-control" id="inputusuario" placeholder="Usuario" name='username'>
    </div>
  </div>
  <div class="form-group">
    <label for="inputcontraseña3" class="col-sm-2 control-label">Contraseña</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputcontrasena" placeholder="Contraseña" name='password'>
    </div>
  </div>



    <div class="roles">
  <select class="form-control" name='rol'>
    <option value="Sin">Elija un Rol</option>
    <option value="Administrador">Administrador</option>
    <option value="Vendedor">Vendedor</option>
    <option value="Jefe de Taller">Jefe de Taller</option>
    <option value="Bodeguero">Bodeguero</option>
    </select>
</div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox"> Recordarme
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button id="btn1" class="btn btn-danger btn-lg btnMenu" onclick="fn1('btn1');">Ingresar</button>

  </div>
</form>
  
{%endblock%}

{%block JS%}
	<script type="text/javascript">
		document.getElementById('btn2').className = "btn btn-danger btn-lg btnMenu active";
		function fn1(id){
			document.getElementById('btn1').className = "btn btn-danger btn-lg btnMenu";
			document.getElementById('btn2').className = "btn btn-default btn-lg btnMenu";
			document.getElementById(id).className = "btn btn-danger btn-lg btnMenu active";
		}
	</script>
{%endblock%}
