{%extends "Portaflash/base.html"%}
{%block importar%}
  <link rel="stylesheet" type="text/css" href="/static/css/base.css">
{%endblock%}
{%block titulo%}
  Portaflash
{%endblock%}
{%block head%}
  <div class="row">
    <div id"logoempresa" class="col-xs-1">
      <img src="/static/img/logoempresa.png" class="logoempresa" alt=" " style="width:150px;height:150px; margin-left:15px">
    </div>
    <div class="col-xs-11">
      <h1><b>SOCIEDAD EN GESTIÓN COMERCIAL LIMITADA</b></h1>
    </div>
  </div>
{%endblock%}

{%block contenido%}
  <ul class="nav nav-pills" id="tab1">
      <li role="presentation"> <a href="vendeordeningre">Ingresar Orden de Compra</a></li>
      <li role="presentation"><a href="/vendadmiOCverOC">Ver Orden de Compra</a></li>
      <li role="presentation"> <a href="/vendadmiOCmodificarOC">Modificar Orden de Compra</a></li>
      <li role="presentation"> <a href="#">Eliminar Productos de Orden de Compra</a></li>
    </ul>

  <h2 class="mih2"><b><u>Menú Vendedor</u></b></h2>

  
{%endblock%}
{%block JS%}
  
{%endblock%}
